.body{
    background-color:black;
     }
     .home1{
         text-align: center;
         padding-top: 25%;
     }
     .home1 h1 a{
         color:aqua;
         font-size:50px ;
         text-decoration: none;
         text-transform: capitalize;

     }